/* Font Area */
@font-face {
  font-family: "PoppinsBold";
  src: url(fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "PoppinsReguler";
  src: url(fonts/Poppins-Regular.ttf);
}

/* Body */
* {
  margin: 0;
  padding: 0;
  font-family: "PoppinsReguler", sans-serif;
}

a {
  margin-right: 0.5rem;
}

section {
  padding-top: 5rem;
  overflow-x: hidden;
}

.sub-text {
  margin-bottom: 1rem;
}

.experience-img {
  width: 100;
}

#experience .row > * {
  padding: 0%;
}

.jumbotron {
  background-color: #101926;
  padding-top: 7rem;
}

.btn1 {
  background-color: #101926;
  width: 100%;
}

/* .btn2 {
  align-items: flex-end;
  background-color: #101926;
  width: 50%;
} */

.play-icon {
  color: #fff;
}
